.hero-section {
  background-image: url("/chips\ chicken.jpg");
  background-repeat: repeat;
  /* background-size: cover; */
  min-height: calc(30vh + 26px);
  background-position: center center;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 24px;
}

.overlay {
  background-color: rgba(5, 5, 5, 0.5);
  min-height: calc(30vh + 26px);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 24px;
}

.hero-section h1,
.hero-section h4,
.hero-section p {
  color: #fff;
  text-shadow: #000;
  z-index: 2;
  position: relative;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  padding: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 47.5%;
  background-color: #fff;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 2px #000);
  padding: 5px;
}

.card:active {
  scale: .99;
}

.card .card-img {
  width: 100%;
  height: auto;
}

.card-name {
  font-size: 16px;
  font-weight: bold;
}

.card-price {
  font-size: 14px;
  font-weight: 500;
}


.meta-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.pop-up {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(5, 5, 5, .8);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.pop-up-cover{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #000 ;
  width: 90%;
  border-radius: 12px;
}

.item-img{
  height: 30vh;
  width:100%;
}

.item-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-name{
  font-size: 28px;
}
.pop-up .buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 5px 2rem;
  font-size: 14px;
  color: #000;
  border: 1px solid rgba(5, 5, 5, .8);
}

.button:active{
  scale: .95;
}