<style>
    body {
        background: rgb(215, 206, 206);
        color: black;
        font-family: Helvetica Neue, Helvetica, Arial;
        margin: 0;
        padding: 0;
    }
    header{
        background: rgb(96, 96, 87);
        padding: 80px;
    }
    section{
        background: purple;
        padding: 120px;
        display: flex;
        flex-direction: row;
    }
    div{
        background: yellow;
        margin: auto;
        width: 60px;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    li{
        display: inline-block;
        margin-right: 20px;
    }
    footer{
        background:rgb(215, 206, 206) ;
        padding: 60px;
    }
</style>